<!DOCTYPE html>
<html lang="en">
    <% include ./include/head %>
    <body>
        <% include ./include/navbar %>
        <div class="container mtop">
            <h1 class="text-center">About Us</h1>
        </div>

        <% include ./include/scripts %>
        <% include ./include/footer %>
    </body>
</html>