<link rel='stylesheet' href='/stylesheets/style.css' />
<a href="/users">View Users</a><br><br>
<form method="POST">
    <div>Name <input name="name" value="<%= user.name %>"></div><br>
    <div>Address <input name="address" value="<%= user.address %>"></div><br>
    <div>Phone <input name="phone" value="<%= user.phone %>"></div><br>
    <% if(!user.id) { %>
        <button>Save</button>
    <% } else { %>
        <button>Update</button>
    <% } %>
    <input type="hidden" value="<%= user.id%>">
</form>