<!DOCTYPE html>
<html lang="en">
    <% include ./include/head %>
    <body>
        <% include ./include/navbar %>
        <div class="container mtop">
            <h1 class="text-center">Leave us a message</h1>

            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Full Name</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Full Name..">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Provide your email..">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Phone No</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="+977-98********">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Your message here.."></textarea>
                </div>

                <button class="btn btn-lg btn-success">Send</button>
            </form>
        </div>

        <% include ./include/scripts %>
        <% include ./include/footer %>
    </body>
</html>