<!DOCTYPE html>
<html lang="en">
    <% include ./include/head %>
    <head>
      <link href="style.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    </head>

    <body>
      <% include ./include/navbar %>
        
        
        <div class="row" style="padding-top:50px">

          <div class="firstColumn" >
          
              <div class="card mt-2">
                <h3>
                    कोटिहरु </h3>
                <ul class="navbar-nav">
                     <form action="about" >
                      
                    <li class="nav-item" >
                      <img src="images/poem.svg" width="30px" style="color: tomato">
                      <button class="btn btn-lg btn-link"  style="color: tomato">कविता  </button>
                    </li>
                  
                    <li class="nav-item">
                        <img src="images/story.svg" width="30px" style="color: tomato">
                        <button class="btn btn-lg btn-link" style="color: tomato">कथा </button>
                      </li>
                      <li class="nav-item">
                          <img src="images/saying.svg" width="30px" style="color: tomato">
                          <button class="btn btn-lg btn-link"  style="color: tomato" >भनाई   

                            </button>
                        </li>

                        <li class="nav-item">
                            <img src="images/others.svg" width="30px" style="color: tomato">
                            <button class="btn btn-lg btn-link"  style="color: tomato" > अन्य 
  
                              </button>
                          </li>  
                    </form>
                  </ul>
                
              </div>
              
          </div>

          <div class="rightcolumn">

              <div class="card mt-2">
                  
                <div class="row">
                  <div class="col-6">
                    <div class="slideshow-container">
                        <!-- Full-width images with number and caption text -->
                        <div class="mySlides">
                        <div class="numbertext">1 / 3</div>
                        <img src="images/buwa.jpg" style="width:100%">
                        <div class="text">भाईटिका</div>
                        </div>
                        <div class="mySlides ">
                        <div class="numbertext">2 / 3</div>
                        <img src="images/1.jpg" style="width:100%">
                        <div class="text">साथीहरु संग</div>
                        </div>
                        <div class="mySlides ">
                        <div class="numbertext">3 / 3</div>
                        <img src="images/2.jpg" style="width:100%">
                        <div class="text">फेवा लेकमा</div>
                        </div>
                        <!-- Next and previous buttons -->
                        <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a> -->

                        <!-- The dots/circles -->
                        <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                        </div>
                  <!--/ The dots/circles -->
              
                    </div>
                  </div>  
                    <div class="col-6">
                        <p style="font-size :18px; ">
                            उहाँहरुले ठुला ठुला काम गरी जानुभएको छ। उहाँहरुले देशका लागि केही न केही योगदान दिएर गएका हन्।
                            हामी नेपाली तिनीहरुका छोराछोरी हौ र त्यसै कारणले हामीले पनि देशको लागि केही गर्नुपर्छ।
                            हाम्रो देशमा बिर गोर्खालीहरु जन्मेका हुन्, उनिहेरुले शत्रुहरुलाई पराजित गरेर हाम्रो देशलाई जोगाएका हुन् 
                            हाम्रो देशमा एक पछि एक महान पुरुषहरु जन्मेका हुन्। जस्तै-प्रिथिवी नारायण शाह,बलभद्र कुँवर आदि। 
                            उहाँहरुले ठुला ठुला काम गरी जानुभएको छ। उहाँहरुले देशका लागि केही न केही योगदान दिएर गएका हन्।
                            हामी नेपाली तिनीहरुका छोराछोरी हौ र त्यसै कारणले हामीले पनि देशको लागि केही गर्नुपर्छ।
                            हाम्रो देशमा बिर गोर्खालीहरु जन्मेका हुन्, उनिहेरुले शत्रुहरुलाई पराजित गरेर हाम्रो देशलाई जोगाएका हुन्</p>
                    </div>
                        <br>
                        
                </div>

              </div>
              <br> 
                 
            
        



            <div class="card mt-4">
              <h2>TITLE HEADING</h2>
              <h5>Title description, Sep 2, 2017</h5>
              <div class="fakeimg" style="height:200px;">Image</div>
              <p>Some text..</p>
            </div>
          </div>

          
          <div class="leftcolumn" >
            <!-- to do // get title of poem/ and so as below loop on it -->
            
             
            <div class="card mb-3" style="height:450px">
              <h3>रुचाईएक लेखहरु</h3>
                
              <h5 style="background-color: tomato;color:white">
                <!-- title of article people put star on -->
                  इमेल थिची नयाँ-नयाँ निबन्ध   
              </h5>
              <p> सहज रुपमा भन्नुपर्दा नेपाली भनेको नेपालमा बस्ने नागरिक हो ...</p>
              <hr>

              <h5 style="background-color: tomato;color:white">
                <!-- title of article people put star on -->
                  इमेल थिची नयाँ-नयाँ निबन्ध   
              </h5>
              <p> सहज रुपमा भन्नुपर्दा नेपाली भनेको नेपालमा बस्ने नागरिक हो ...</p>
              <hr>

              <h5 style="background-color: tomato;color:white">
                  <!-- title of article people put star on -->
                    इमेल थिची नयाँ-नयाँ निबन्ध   
              </h5>
              <p> सहज रुपमा भन्नुपर्दा नेपाली भनेको नेपालमा बस्ने नागरिक हो ...</p>
                
            </div>
            

            <div  style="padding-top: 21px"> 
              
          
              <div class="card mt-1" >
                <h3>तपाइको प्रतिक्रिया </h3>
                  
                <div class="row">
                
                  <button class= "btn btn-sm" >

                    <img class="profile-image" src="images/like.svg" width="45px">
                    <br>
                    like

                  </button>
              
                  <button class= "btn btn-sm ml-1">
                  <img class="profile-image" src="images/greet.svg" width="55px"><br>
                  Greet
                  </button>
                
                  <button class= "btn btn-sm ml-1">
                  <img class="profile-image" src="images/comment.svg" width="45px"><br>
                  Comment
                  </button>

                </div>

              </div>

            </div>

          </div>

        </div>
        
        
        
      <% include ./include/scripts %>
        
    </body>
</html>

<!-- automatics -->




<script>
  var slideIndex = 0;
  showSlides();
  
  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 5000); // Change image every 2 seconds
  }
</script>
