<link rel='stylesheet' href='/stylesheets/style.css' />
<a href="/">Home</a>
<h1>Users Data</h1>

<a href="add">Add User</a><br><br>

<table>
    <tr>
        <td>Id</td> 
        <td>Name</td>
        <td>Address</td>
        <td>Phone</td>
        <td></td>
    </tr>

    <% users.forEach(function(item) { %>
    <tr>
        <td><%= item.id%></td>
        <td><%= item.name%></td>
        <td><%= item.address%></td>
        <td><%= item.phone%></td>
        <td>
            <!-- <i class="fa fa-pencil" aria-hidden="true"></i>
            <i class="fa fa-trash" aria-hidden="true"></i> -->
            <a href="/edit?id=<%= item.id %>">Edit</a>
            <a href="/delete?id=<%= item.id %>" onclick="return confirm('Are you sure ?')">Delete</a>
        </td>
    </tr>
    <% }); %>
</table> 

