<!-- <div style="margin-top: 100px;">
<footer class="container-fluid footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p></p>
          <p></p>
          <% let year = (new Date()).getFullYear() %>
          <p class="text-center">&copy;<%= year %> Khada Nanda Subedi</p>
        </div>
      </div>
  
    </div>
  </footer>
</div> -->