

<!-- <div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>

<div class="main"> -->

  

 
  <nav class= " row navbar navbar-expand-lg navbar-light bg-light"  >
    <div class="col-9"  >
      <!-- <img 
          src="images/profile.jpg" 
          class="profile-image"
          alt="Profile Image">  -->
      <a class="navbar-brand ml-2" href="#"><h4 style="color: #f16334;"> रोल्पा का बा - KhadaNanda Subedi </h4> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>

    
        
      <div class="col-3">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
        <div class="collapse navbar-collapse" id="navbarNav" >
          <ul class="navbar-nav" >
            <li class="nav-item">
              <a class="nav-link" style="color: #f16334;" href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #f16334;" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  style="color: #f16334;" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
        </nav>
      </div>  
</nav>

<!-- </div> -->
