body {
          font-family: Arial;
          padding: 20px;
          background: #f1f1f1;
        }
        
        /* Header/Blog Title */
        .header {
          padding: 30px;
          font-size: 40px;
          text-align: center;
          background: white;
        }
        
        .firstColumn
        { padding-right: 15px;

        }
        /* Left column */
        .rightcolumn { 
          float: left;
          width: 60%;
          margin-bottom: 0%
        }
        
        /* Right column */
        .leftcolumn{
          float: left;
          width: 20%;
          padding-left: 15px;
        }
        
        /* Fake image */
        .fakeimg {
          background-color: #aaa;
          width: 100%;
          padding: 20px;
        }
        
        /* Add a card effect for articles */
        .card {
          background-color: white;
          padding: 20px;
          margin-top: 20px;
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        
        /* Footer */
        .footer {
          padding: 20px;
          text-align: center;
          background: #ddd;
          margin-top: 20px;
        }
        
        /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 800px) {
          .leftcolumn, .rightcolumn { 
            width: 100%;
            padding: 0;
          }
        }
        
        


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: gray; */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  color:white
  /* background-color: #ff6700 */
}

.mtop {
  margin-top: 100px;
}

.profile-image {
  max-height: 35px;
  max-width: 40px;border: 1px solid white;
  border-radius: 50%;
}

table {
  width: 100%;
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}


hr {
  background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}

.footer{
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: gray;
  /* margin:0px auto; */
  margin-top: 10px;
  padding: 10px 0px 10px 0px;
  vertical-align:bottom;
}



/* Fake image */
.article {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  color: white;
}


.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  /* font-size: 28px; Increased text to enable scrolling */
  /* padding: 0px 10px; */
}